{% extends "base.html" %}
{% block content %}

  <button class="btn btn-default"> <A href="{{base_path}}/Paasivu"> Paluu pääsivulle </a></button>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Käyttäjätunnus</th>
        <th>Etunimi</th>
        <th>Sukunimi</th>
        <th>Käyttöoikeudet</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for Kayttaja in Kayttajat %}
          <tr>
            <td><a href="#"> {{Kayttaja.kayttajatunnus}}</a></td>
            <td>{{Kayttaja.etunimi}}</td>
            <td>{{Kayttaja.sukunimi}}</td>
            <td>{{Kayttaja.kayttooikeudet}}</td>
            <th><a class="btn btn-default btn-sm" value="submit" href="{{base_path}}/Kayttaja/Kayttajatietojenmuutos/{{Kayttaja.kayttajatunnus}}">Muokkaa</a></th>
            <th><a class="btn btn-default btn-sm" href="#">Poista</a></th>
          </tr>
      {% endfor %}
    </tbody>
  </table>
<h4> Käyttöoikeus "1" tarkoittaa täysiä käyttöoikeuksia.</H4> 
<button class="btn btn-default"><A href="{{base_path}}/Paasivu">Paluu pääsivulle</A></button>

{% endblock %}
