{% extends "base.html" %}
{% block content %}
  <h1>Muokkaa käyttäjän tietoja</h1>

  <form>
    <div class="form-group">
      <label>Käyttäjä</label>
      <input type="text" class="form-control" value="Pitäisi myös tulostaa nykyiset käyttäjätiedot näkyviin">
    </div>
     <div class="form-group">
          <label>Salasana</label>
          <input type="text" class="form-control" value=" ">
        </div>
        <div class="form-group">
          <label>Etunimi</label>
          <input type="text" class="form-control" value=" ">
        </div>
        <div class="form-group">
          <label>Sukunimi</label>
          <textarea class="form-control">  </textarea>
        </div>
        <div class="form-group">
          <label>Käyttöoikeudet</label>
          <select name="Annettavat käyttöoikeidet">
              <option value="default"> Valitse listasta</option>
              <option value="default"> Rajoitetut inventointioikeudet</option>
              <option value="master_user">Täydet pääkäyttäjän oikeudet</option>
          </select> 
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default"><A href="{{base_path}}/Suunnitelmat/Paasivu">Tallenna</A></button>
        </div>
  </form>
{% endblock %}
