{% extends "base.html" %}
{% block content %}
  <h1>Muokkaa käyttäjän {{muutettava_kayttaja.kayttajatunnus}} tietoja</h1>

  <form  method="post">
    <div class="form-group">
      <label>Käyttäjä</label>
    </div>
    <div class="form-group">
       <label>Salasana</label>
       <input type="text" class="form-control" name="salasana" value={{muutettava_kayttaja.salasana}}>
     </div>
     <div class="form-group">
        <label>Etunimi</label>
        <input type="text" class="form-control" name="etunimi" value={{muutettava_kayttaja.etunimi}}>
     </div>
     <div class="form-group">
        <label>Sukunimi</label>
        <input type="text" class="form-control" name="sukunimi" value={{muutettava_kayttaja.sukunimi}}>
     </div>
     <div class="form-group">
        <label>Käyttöoikeudet</label> 
        <select name="Annettavat käyttöoikeudet"> 
           <option value="default"> Valitse listasta</option>
           <option value="default"> Rajoitetut inventointioikeudet</option>
           <option value="master_user">Täydet pääkäyttäjän oikeudet</option>
        </select> 
        <input name="submit" type="submit" value={{muutettava_kayttaja.kayttooikeudet}}>
      </div>
      <div class="form-group">
        <button type ="submit" class="btn btn-default" value=kayttaja_edit_post{{muutettava_kayttaja.kayttajatunnus}}>Tallenna muutokset</button>
        <button class="btn btn-default"><A href="{{base_path}}/Paasivu">Paluu pääsivulle tallentamatta</A></button>
      </div>
  </form>
{% endblock %}
