{% extends "base.html" %}
{% block content %}

  <h1>Kirjaudu sisään</h1>

  <form method="post">  
    <div class="form-group">
      <label>Käyttäjätunnus</label>
      <input type="text" name="kayttajatunnus" class="form-control" value="{{kayttajatunnus}}">
    </div>

    <div class="form-group">
      <label>Salasana</label>
      <input type="PASSWORD" name="salasana" class="form-control" value="{{salasana}}"> 
    
    </div>    
    <button class="btn btn-default" type="submit" value=KayttajaController::handle_login>Kirjaudu!</button>
    
    <H4>Testaamiseen voi käyttää: tunnus & salasana "testing"(=pääkäyttäjä) </H4>
    
  </form>

  {% endblock %}
