
  <form method="post" action="{{base_path}}/Tuote/Poistatuote/{{Tuote.tuote_id}}" class="destroy-form" data-confirm="Oletko varma, että haluat poistaa?">
    <button type="submit" class="btn btn-danger"> </button>
  </form>              
                
{% macro destroy_button(action, text) %}
  <form method="post" action="{{base_path}}/Tuote/Poistatuote/{{Tuote.tuote_id}}" class="destroy-form" data-confirm="Oletko varma, että haluat poistaa?">
    <button type="submit" class="btn btn-danger"> </button>
  </form>
{% endmacro %}  
<!--
{% macro destroy_kayttaja_button() %}
  <form method="post" action="{base_path}/Kayttaja/Poistakayttaja/{{kayttajatunnus}}" style="display: inline-block;">  
    <button type="submit" class="btn btn-danger">Poista käyttäjä!</button>
  </form>
{% endmacro %}
-->