{% extends "base.html" %}
{% block content %}

{% import "macros/forms.html" as forms %}

<H2>Varaston id:{{varasto.varasto_id}}:n tiedot</H2>

    <form action="handle_form.php">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Varasto-ID</th>
            <th>Varaston nimi</th>
            <th>Katuosoite</th>
            {% if oikeudet %}
              <th></th>
            {% endif %}
          </tr>
        </thead>

        <tbody>
           <tr>
             <td>{{varasto.varasto_id}}</td> 
             <td>{{varasto.nimi}}</td>  
             <td>{{varasto.osoite}}</td>  
             <th><a class="btn btn-default btn-sm" href="{{base_path}}/Varasto/Varastonmuutos/{{varasto.varasto_id}}">Muuta varaston tietoja</a></th>
             <th><a class="btn btn-default btn-sm" href="{{base_path}}/Varasto/Poistavarasto/{{varasto.varasto_id}}">Poista varasto</a></th>
           </tr>
         </tbody>    
      </table>
    </form>    

    <button class="btn btn-default"><A href="{{base_path}}/Paasivu"> Pääsivulle</A></button>

{% endblock %}