{% extends "base.html" %}
{% block content %}

     <form  method="post">
     <div class="form-group">
          <label>Tuote-id </label>
          <input type="text" class="form-control" value="{{Varastotilanne.tuote_id}}">
        </div>
        <div class="form-group">
          <label>Lukumäärä</label>
          <input type="text" class="form-control" value="{{Varastotilanne.lukumaara}}">
        </div>
        <div class="form-group">
          <button type ="submit" class="btn btn-default" value=tuote_post_edit{{Varastotilanne.tuote_id}}>Tallenna muutokset</button>
          <button class="btn btn-default"><A href="{{base_path}}/Paasivu">Paluu pääsivulle tallentamatta</A></button>
        </div>
    </form>
    
<h4> Huom, varastokirjanpidossa voi tuotteen määräksi merkitä 0, mutta täältä käsin ei voi poistaa tuotetta valikoimista,</h4>
        
{% endblock %}
