{% extends "base.html" %}
{% block content %}

<H2>Varaston {{varastonnimi}} esittelysivu</H2>

<button class="btn btn-default"> <A href="{{base_path}}/Paasivu"> Paluu pääsivulle </a></button>
   
   <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Tuote-ID</th>
        <th>Tuotteen nimi</th>
        <th>Valmistajan nimi</th>
        <th>Kuvaus</th>
        <th>Lukumäärä tässä varastossa</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <!-- Ensimmäisellä sivulla (Varastolistaus) listataan kaikki varastot ja 
           painikkeesta voi valita, minkä varaston tarkemmat tuotetiedot haluaa 
           nähdä.
      
           Seuraavassa taulussa (eli tässä varastotilannelistauksessa) ovat 
           siis yksittäisen varaston tuotetiedot ja lukumäärät. 
      -->
      {% for Varastotilanne in varastotilanne %}
          <tr>
            <td><a href="#">{{Varaston_tuotteet.tuote_id}}</a></td>
            <td>{{Varaston_tuotteet.tuotteen_nimi}}</a></td>
            <td>{{Varaston_tuotteet.valmistaja}}</a></td>
            <td>{{Varaston_tuotteet.kuvaus}}</a></td>
            <td>{{Varaston_tuotteet.lukumaara}}</td>
            <th><a class="btn btn-default btn-sm" value="submit" href="{{base_path}}/Tuote/Tuotesivu/{{Tuote.tuote_id}}">Katso tarkemmat tuotetiedot</a></th>
            <th><a class="btn btn-default btn-sm" href="{{base_path}}/Varasto/Varastotilanteenmuutos/{{Varasto.tuote_id}}"> Muokkaa</a></th>
          </tr>
      {% endfor %}
    </tbody>
  </table>

    <button class="btn btn-default"><A href="{{base_path}}/Paasivu">Paluu pääsivulle</A></button>

{% endblock %}