{% extends "base.html" %}
{% block content %}

<button class="btn btn-default"> <A href="{{base_path}}/Paasivu"> Paluu pääsivulle </a></button>
   
   <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Varasto-ID</th>
        <th>Varaston nimi</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <!-- Ensimmäisellä sivulla (TÄMÄ SIVU) listataan kaikki varastot ja painikkeesta 
           voi valita, minkä varaston tarkemmat tuotetiedot haluaa 
           nähdä.
      
           Seuraavassa taulussa (varastotilannelistaus) ovat siis tuotetiedot ja lukumäärät 
      -->
      {% for Varasto in Varasto %}
          <tr>
            <td><a href="#">{{Varasto.varsto_id}}</a></td>
            <td>{{Varasto.nimi}}</td>
            <th><a class="btn btn-default btn-sm" href="{{base_path}}/Varasto/Varastotilannelistaus/{{Varasto.varasto_id}}">Näytä kaikki varaston tuotteet</a></th>
            <th><a class="btn btn-default btn-sm" href="{{base_path}}/Varasto/Varastotilanteenmuutos/{{Varasto.tuote_id}}"> Muokkaa</a></th>
          </tr>
      {% endfor %}
    </tbody>
  </table>

    <button class="btn btn-default"><A href="{{base_path}}/Paasivu">Paluu pääsivulle</A></button>

{% endblock %}
