{% extends "base.html" %}
{% block content %}

<H2>Kaikkien käytössä olevien varastojen listaus</H2>

<button class="btn btn-default"> <A href="{{base_path}}/Paasivu"> Paluu pääsivulle </a></button>
   
   <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Varasto-ID</th>
        <th>Varaston nimi</th>
        <th>Varaston osoite</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <!-- Ensimmäisellä sivulla (TÄMÄ SIVU) listataan kaikki varastot ja painikkeesta 
           voi valita, minkä varaston tarkemmat tuotetiedot haluaa 
           nähdä.
      
           Seuraavassa taulussa (varastotilannelistaus) ovat siis tuotetiedot ja lukumäärät 
      -->
      {% for Varasto in varastot %}
          <tr>
            <td><a href="#">{{Varasto.varasto_id}}</a></td>
            <td>{{Varasto.nimi}}</td>
            <td>{{Varasto.osoite}}</td>
            <th><a class="btn btn-default btn-sm" value="submit" href="{{base_path}}/Varasto/Varastosivu/{{Varasto.varasto_id}}">Katso tarkemmat varaston tiedot</a></th>
            <th><a class="btn btn-default btn-sm" href="{{base_path}}/VarastoTuote/Varastotilannelistaus/{{Varasto.varasto_id}}">Näytä kaikki varaston tuotteet</a></th>            
          </tr>
      {% endfor %}
    </tbody>
  </table>

  <button class="btn btn-default"><A href="{{base_path}}/Paasivu">Lisää uusi varasto (toiminto tulossa)</A></button>
  <button class="btn btn-default"><A href="{{base_path}}/Paasivu">Paluu pääsivulle</A></button>

{% endblock %}
