{% extends "base.html" %}
{% block content %}

<H2>Lisää uusi tuote varastoitavaksi {{varasto_id}}</H2>

  {% if message %}
    <div class="alert alert-danger">
      <ul>
        <li>{{message}}</li>
      </ul>
    </div>
  {% endif %}
  
  {% if errors %}
    <div class="alert alert-danger">
      <ul>
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  
  <form method="post">
    
  <H4>Valitse lisättävä tuote alasvetovalikosta</H4>
    <div class="form-group">
      <select class="form-control" name="tuotteen_nimi">
        {% for Tuote in Tuotteet %}
          <option value="{{Tuote.tuotteen_nimi}}">{{Tuote.tuotteen_nimi}}</option>
        {% endfor %}
      </select> 
    </div>

    <!--Muut tuotetiedot välittyvät käyttäjältä piilossa -->
    <div class="form-group">
      <input type= "hidden" name ="tuote_id" value="{{Tuote.tuote_id}}">
       <input type= "hidden" name ="varasto_id" value="{{Tuote.varasto_id}}">
      <input type ="hidden" name ="valmistaja" class="form-control" value="{{Tuote.valmistaja}}">
      <input type ="hidden" name ="kuvaus" class="form-control" value="{{Tuote.kuvaus}}">
    </div>
    
    <div class="form-group">
      <label>Lukumäärä</label>
      <input type ="text" name ="lukumaara" class="form-control">
    </div>
    
    <button type ="submit" class="btn btn-default" value=VarastoTuoteController::varastotuote_lisaa_post()>Lisää tuote varastoon</button>
    <button class="btn btn-default"><A href="{{base_path}}/Paasivu">Paluu tallentamatta</A></button>
  </form>

{% endblock %}