{% extends "base.html" %}
{% block content %}

     <form  method="post">
     <div class="form-group">
          <label>Varasto-ID</label>
          <input type="hidden" class="form-control" value="{{muutettava_tuote.varasto_id}}">
        </div>
        <div class="form-group">
          <label>Tuote-ID</label>
          <input type="hidden" class="form-control" value="{{muutettava_tuote_id}}">
        </div>
        <div class="form-group">
          <label>Tuotteen nimi</label>
          <input type="hidden" class="form-control" value="{{muutettava_tuote.tuotteen_nimi}}">
        </div>
        <div class="form-group">
          <label>Lukumaara</label>
          <input type="text" class="form-control" value="{{muutettava_tuote.lukumaara}}">
        </div>
        <div class="form-group">
          <button type ="submit" class="btn btn-default" value=VarastoTuoteController::varastotuote_edit_post()>Tallenna muutokset</button>
          <button class="btn btn-default"><A href="{{base_path}}/Paasivu">Paluu pääsivulle tallentamatta</A></button>
        </div>
    </form>
        
{% endblock %}
