{% extends "base.html" %}
{% block content %}

  {% if errors %}
    <div class="alert alert-danger">
      <ul>
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <form  method="post">
    <div class="form-group">
      <label>Varasto-ID</label>
      <input type="hidden" class="form-control" name="varasto_id" value="{{varasto_id}}">
    </div>
    <div class="form-group">
      <label>Tuote-ID</label>
      <input type="hidden" class="form-control" name="tuote_id" value="{{tuote_id}}">
    </div>
    <div class="form-group">
      <label>Tuotteen nimi</label>
      <input type="hidden" class="form-control" value="{{tuotteen_nimi}}">
    </div>
    <div class="form-group">
      <label>Lukumaara</label>
      <input type="text" class="form-control" value="{{lukumaara}}">
    </div>
    <div class="form-group">
      <button type ="submit" class="btn btn-default" value="VarastoTuoteController::varastotuote_edit_post()">Tallenna muutokset</button>
      <button class="btn btn-default"><A href="{{base_path}}/Paasivu">Paluu pääsivulle tallentamatta</A></button>
    </div>
  </form>
  
  <h4> Huom, varastokirjanpidossa voi tuotteen määräksi merkitä 0, mutta täältä käsin ei voi poistaa tuotetta valikoimista,</h4>
        
{% endblock %}
