{% extends "base.html" %}
{% block content %}

    <H2>Kirjautuminen</H2>  
    <!-- Kirjautuminen -->
        
   <form>
    <!-- Tekstikenttä käyttäjätunnukselle -->
    <div class="form-group">
      <label>Käyttäjätunnus</label>
      <input type="text" class="form-control">
    </div>

    <!-- Salasanakenttä salasanalle -->
    <div class="form-group">
      <label>Salasana</label>
      <input type="password" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Kirjaudu sisään</button>
  </form>

  <img src="{{base_path}}/Suunnitelmat/Varasto-kansi.jpg" alt="Varastomiehiä_työssään">
  
  <H2>Onnistuneen kirjautumisen jälkeen voi siirtyä toimintoihin: </H2>  
      
  <ul>
      <li>Tuotteen haku: <A href="{{base_path}}/Suunnitelmat/Tuotteenhakeminen.html"> Tuotteen hakeminen nimen perusteella </a></li>
      <li>Tuotteiden listaus: <A href="{{base_path}}/Suunnitelmat/Tuotteidenlistaus.html"> Tuotteiden listaus </a></li>
      <li>Varaston listaus: <A href="{{base_path}}/Suunnitelmat/Varastonlistaus.html"> Varaston listaus </a></li>
  </ul>

  {% endblock %}
  