{% extends "base.html" %}
{% block content %}

        <H2>Kirjautuminen</H2>  
        <!-- Kirjautuminen -->
    
        <form action="handle_reg.php" method="POST">
            <p> Käyttäjätunnus: <input type ="text" name ="user_id" size="8"/></p>
            <p> Salasana: <input type ="text" name ="password" size="10"/></p>
            <input type ="submit" name="submit" value ="Kirjaudu!" />
            
            <p>Tuotehaku: <A href="tuote_list()"> Tuote-ID:n tai Tuotteen nimen perusteella </a></p>
            <p>Tuotteiden listaus: <A href="tuote_list()"> Tuotteiden listaus </a></p>
            <p>Varaston listaus: <A href="varasto_show()"> Varaston listaus </a></p>
      
        
            <br><br>
        <!-- Kirjautumisen tarkastaminen
        if (handle_reg){
             
            <p>Tuotehaku: <A href="tuotesivu.html"> Tuote-ID:n tai Tuotteen nimen perusteella </a></p>
            <p>Tuotteiden listaus: <A href="tuotteidenlistaus.html"> Tuotteiden listaus </a></p>
            <p>Varaston listaus: <A href="varastonlistaus.html"> Varaston listaus </a></p>
            <p>Käyttäjien listaus: <A href="kayttajienlistaus.html"> Käyttäjien listaus (vain pääkäyttäjälle)</a></p>
        else 
          print '<p>Yritä uudelleen.</p>';
        } -->
        
        <p><img src="Varasto-kansi.jpg" alt="Varastomiehiä_työssään"></p>
    
    
{% endblock %}
