{% extends "base.html" %}
{% block content %}

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Käyttäjätunnus</th>
        <th>Etunimi</th>
        <th>Sukunimi</th>
        <th>Käyttöoikeudet</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <!-- Listataan käyttäjät tähän -->
      <tr>
        <td><a href="#"> xxx</a></td>
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
        <th><a class="btn btn-default btn-sm" href="#">Muokkaa</a></th>
        <th><a class="btn btn-default btn-sm" href="#">Poista</a></th>
      </tr>
    </tbody>
  </table>

  <p><A href="{{base_path}}/Suunnitelmat/Paasivu"> Paluu pääsivulle </a></p>

{% endblock %}
