<!DOCTYPE html>
<!--
Tietokantasovellus harjoitustyö, 2015 
Kirsi Rotstén 
-->
{% extends "base.html" %}
{% block content %}

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Käyttäjätunnus</th>
        <th>Etunimi</th>
        <th>Sukunimi</th>
        <th>Käyttöoikeudet</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <!-- Listataan käyttäjät tähän -->
      <tr>
        <td><a href="#"> xx</a></td>
        <td>xxx</td>
        <td>xxxx</td>
        <td>xxx</td>
        <td>xxxx</td>
        <th><a class="btn btn-default btn-sm" href="#">Muokkaa</a></th>
      </tr>
    </tbody>
  </table>
    <p><A href="paasivu.html"> Paluu pääsivulle </a></p>

{% endblock %}
