{% extends "base.html" %}
{% block content %}

<H2>Lisää uusi tuote valikoimaan</H2>

    <form action="handle_form.php">

	<p>Tuote-ID      : <input type ="text" name ="product_id" size="20"/></p>
        <p>Tuotteen nimi : <input type="text" name="product_name" size="20" /></p>
	<p>Valmistaja    : <input type="text" name="producer" size="20" /></p>
	<p>Tuotekuvaus   : <textarea name="Product_description" rows="3" cols="30"></textarea></p>
	
        <button class="btn btn-default"> <A href="{{base_path}}/Suunnitelmat/Paasivu">Tallenna</A></button>
        
    </form>

<button class="btn btn-default"><A href="{{base_path}}/Suunnitelmat/Paasivu"> Paluu pääsivulle</A></button>

{% endblock %}