{% extends "base.html" %}
{% block content %}
      
    <h1>Valittava toiminto</h1>
    
    <button class="btn btn-default"><A href="{{base_path}}/Suunnitelmat/Tuotteenhakeminen">Tuotteen hakutoiminto</A></button>
    <button class="btn btn-default"><A href="{{base_path}}/Suunnitelmat/Kaikkien tuotteidenlistaus">Tuotteiden listaus</A></button>
    <button class="btn btn-default"><A href="{{base_path}}/Suunnitelmat/Varastonlistaus">Varaston listaus</A></button>
    <button class="btn btn-default"><A href="{{base_path}}/Suunnitelmat/Kayttajienlistaus">Käyttäjien listaus (vain pääkäyttäjät)</A></button>
                 
{% endblock %}
