<!DOCTYPE html>
<!--
Tietokantasovellus harjoitustyö, 2015 
Kirsi Rotstén 
-->
{% extends "base.html" %}
{% block content %}
      
    <h1>Valittava toiminto</h1>
    <button class="btn btn-default">Tuotteen hakutoiminto</button>
    <button class="btn btn-primary">Tuotteiden listaus</button>
    <button class="btn btn-success">Varaston listaus</button>
    <button class="btn btn-danger">käyttäjien listaus (vain pääkäyttäjät)</button>
                 
    <p>Tuotehaku: <A href="tuotesivu.html"> Tuote-ID:n tai Tuotteen nimen perusteella </a></p>
    <p>Tuotteiden listaus: <A href="tuotteidenlistaus.html"> Tuotteiden listaus </a></p>
    <p>Varaston listaus: <A href="varastonlistaus.html"> Varaston listaus </a></p>
    <p>Käyttäjien listaus: <A href="kayttajienlistaus.html"> Käyttäjien listaus (vain pääkäyttäjälle)</a></p>

{% endblock %}
