<!DOCTYPE html>
<!--
Tietokantasovellus harjoitustyö, 2015 
Kirsi Rotstén 

-->
{% extends "base.html" %}
{% block content %}

<html>
    <head>
        <title>Varasto - Tuotesivu</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
    <form action="handle_form.php">

	<p>Tuote-ID: <input type ="text" name ="product_id" size="13"/></p>
        <p>Tuotten nimi: <input type="text" name="product_name" size="20" /></p>
	<p>Email Address: <input type="text" name="email" size="20" /></p>
        <p>Valmistaja: <input type="text" name="producer" size="20" /></p>
	<p>Tuotekuvaus: <textarea name="Product_description" rows="3" cols="30"></textarea></p>
	
        <input type="submit" name="Hae tuotetta" value="Search_the_product" />
        <input type="submit" name="Lisää tuote" value="Add_the_product" />
        <input type="submit" name="Muuta tuotetietoja" value="Update_the_product" />

    </form>
    
    <button class="btn btn-default"><A href="paasivu.html"> Paluu pääsivulle</A></button>        <p><A href="paasivu.html"> Paluu pääsivulle </a></p>

<!--
    <button class="btn btn-primary">Tuotteiden listaus</button>
    <button class="btn btn-success">Varaston listaus</button>
    <button class="btn btn-danger">käyttäjien listaus (vain pääkäyttäjät)</button>
-->
        <H2>Varastotietokantasovellus</H2>
        <p><A href="paasivu.html"> Paluu pääsivulle </a></p>
        <p><A href="tuotteidenlistaus.html">Tuotteiden haku </a></p>
        <p><A href="tuotteidenlistaus.html">Tuotteiden listaus </a></p>
        <p>Tuotteen muutos: </p>
        <p>Tuotteen poisto (vain pääkäyttäjälle)</p>
</html>

{% endblock %}
