{% extends "base.html" %}
{% block content %}

    <form action="handle_form.php">

	<p>Tuote-ID      : <input type ="text" name ="product_id" size="13"/></p>
        <p>Tuotten nimi  : <input type="text" name="product_name" size="20" /></p>
	<p>Valmistaja    : <input type="text" name="producer" size="20" /></p>
	<p>Tuotekuvaus   : <textarea name="Product_description" rows="3" cols="30"></textarea></p>
	
        <input type="submit" name="Hae tuotetta" value="Hae tuotetta" />
        <input type="submit" name="Lisää tuote" value="Lisää tuote" />
        <input type="submit" name="Muuta tuotetietoja" value="Muuta tuotetietoja" />

    </form>

  <!-- Tiedot tulee listana tähän -->
  <ul>
    <li><strong>Tuote-ID     :</strong>9789513233259</li>
    <li><strong>Tuotteen nimi:</strong> Aku Ankan taskukirja nro 390 "Outolintu"</li>
    <li><strong>Valmistaja   : </strong>Sanoma Magazines</li>
    <li><strong>Status       :</strong> <label class="label label-danger">kesken</label></li>
    <li><strong>Lisäyspäivä  :</strong> 9.12.2014</li>
  </ul>
  <!-- Kuvaus tulee tähän -->
  <ul>
    Tähän tulee näkyviin, miten Tuote-taulun Kuvaus-tietoon on talletettu.
  </ul>
   
    
<!--
    <button class="btn btn-primary">Tuotteiden listaus</button>
    <button class="btn btn-success">Varaston listaus</button>
    <button class="btn btn-danger">Käyttäjien listaus (vain pääkäyttäjät)</button>
-->
      <ul> 
        <li><A href="{{base_path}}/Suunnitelmat/Paasivu"> Paluu pääsivulle </a></li>
        <li><A href="{{base_path}}/Suunnitelmat/Tuotteidenlistaus">Tuotteiden listaus </a></li>
        <li><A href="{{base_path}}/Suunnitelmat/Tuotteidenlistaus">Tuotteiden haku </a></li>
        <li><A href="{{base_path}}/Suunnitelmat/Tuotteidenlistaus">Tuotteiden listaus </a></li>
        <li><A href="{{base_path}}/Suunnitelmat/Tuottetietojenmuutos">Tuotetietojen muutos </a></li>
        <li><A href="{{base_path}}/Suunnitelmat/Tuotteen_poisto">(vain pääkäyttäjälle)"</li>
    </ul>

    <button class="btn btn-default"><A href="{{base_path}}/Suunnitelmat/Paasivu"> Pääsivulle</A></button>

    {% endblock %}
