{% extends "base.html" %}
{% block content %}

  <h1>Tuotteiden listaussivu</h1>

   <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Tuote-ID</th>
        <th>Tuotteen nimi</th>
        <th>Valmistaja</th>
        <th>Kuvaus</th>
        <th>Lisääjä</th>
        <th>Lisäyspäivä</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <!-- Listataan tuotteet tähän -->
      <tr>
        <td><a href="#">xxx</a></td>
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
        <td>xxx</td>
        <th><a class="btn btn-default btn-sm" href="{{base_path}}/Suunnitelmat/Tuotesivu">Katso tiedot</a></th>
        <th><a class="btn btn-default btn-sm" href="{{base_path}}/Suunnitelmat/Tuotetietojenmuutos">Muokkaa</a></th>
        <th><a class="btn btn-default btn-sm"href="{{base_path}}/Suunnitelmat/Paasivu">Poista</a></th> 
      </tr>
    </tbody>
  </table>
      <p><A href="{{base_path}}/Suunnitelmat/Paasivu"> Paluu pääsivulle </a></p>
</html>

{% endblock %}
