{% extends "base.html" %}
{% block content %}

    <form action="handle_form.php">

        <p><strong>Tuote-ID     :</strong>9789513233259</p>
        <p><strong>Tuotteen nimi:</strong> Aku Ankan taskukirja nro 390 "Outolintu"</p>
	<p>Lukumäärä: <input type="text" name="amounth" size="6" /></p>
	
        <button class="btn btn-default"><A href="{{base_path}}/Suunnitelmat/Paasivu">Päivitä lukumäärä</a></button>
        <button class="btn btn-default"><A href="{{base_path}}/Suunnitelmat/Tuotesivu">Tuotesivulle</A></button> 
        <button class="btn btn-default"><A href="{{base_path}}/Suunnitelmat/Paasivu">Pääsivulle</A></button> 
    </form>
    
        
{% endblock %}
