<!DOCTYPE html>
<!--
Tietokantasovellus harjoitustyö, 2015 
Kirsi Rotstén 
-->
{% extends "base.html" %}
{% block content %}

<html>
    <head>
        <title>Varaston listaus</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
        <div>Tähän koko taulukon listaus</div>
            <h1>Tekstikentät</h1>
            <input type="text" placeholder="Tavallinen tekstikenttä">
            <input type="text" class="form-control" placeholder="Bootstrap tekstikenttä">
    
         <p><A href="paasivu.html"> Paluu pääsivulle </a></p>
</html>

{% endblock %}
