#main-container{
  max-width: 1200px;
  padding: 10px 25px;
  margin: 0px auto;
}

.navbar .container-fluid{
  max-width: 1200px;
  margin: 0px auto;
}

btn btn-primary {
  background-color:SandyBrown;
}

h1 {
 font-family:"Times New Roman", Times, serif;
 font-size:3.8em;
 font-weight:normal;
 color:#333;
 letter-spacing:-1px;
 margin:20px 0;
}
