{% extends "base.html" %}
{% block content %}

<H2>Lisää uusi tuote valikoimaan</H2>

    <form method="post">
        <div class="form-group">
            <label>Tuote-id </label>
            <input type ="text" name ="tuote_id" class="form-control">
        </div>
        
        <div class="form-group">
            <label>Tuotteen nimi</label>
            <input type ="text" name ="tuotteen_nimi" class="form-control">
        </div>
        
        <div class="form-group">
            <label>Valmistaja</label>
            <input type ="text" name ="valmistaja" class="form-control">
        </div>

        <div class="form-group">
            <label>Tuotekuvaus</label>
            <input type ="text" name ="kuvaus" class="form-control">
        </div>
        
        <button type ="submit" class="btn btn-default">Tallenna</button>
        <button class="btn btn-default"><A href="{{base_path}}/Paasivu">Paluu tallentamatta</A></button>
    </form>

{% endblock %}