{% extends "base.html" %}
{% block content %}

<H2>Lisää uusi tuote valikoimaan</H2>

    <form method="post">
        <div class="form-group">
            <label>Tuote-id </label>
            <input type ="text" name ="tuote_id" class="form-control" value="{{tuote_id}}">
        </div>
        
        <div class="form-group">
            <label>Tuotteen nimi</label>
            <input type ="text" name ="tuotteen_nimi" class="form-control" value="{{tuotteen_nimi}}">
        </div>
        
        <div class="form-group">
            <label>Valmistaja</label>
            <input type ="text" name ="valmistaja" class="form-control" value="{{valmistaja}}">
        </div>

        <div class="form-group">
            <label>Tuotekuvaus</label>
            <input type ="text" name ="kuvaus" class="form-control" value="{{kuvaus}}">
        </div>
        
        <div class="form-group">
            <label>Lukumäärä</label>
            <input type ="text" name ="lukumaara" class="form-control" value="{{lukunaara}}">
        </div>
        
        <div class="form-group">
            <label>Päivämäärä ja aika (esim. 2015-11-14 21:11:00)</label>
            <input type ="text" name ="history_date" class="form-control" value="{{history_date}}">
        </div>
        
        <button type ="submit" class="btn btn-default" value=tuote_create>Tallenna</button>
        <button class="btn btn-default"><A href="{{base_path}}/Paasivu">Paluu tallentamatta</A></button>
    </form>

{% endblock %}