{% extends "base.html" %}
{% block content %}

<h1>Tuote on poistettu!</h1>

<button class="btn btn-default"><A href="{{base_path}}/Paasivu">Paluu pääsivulle</A></button>
  
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Tuote-ID</th>
      <th>Tuotteen nimi</th>
      <th>Valmistaja</th>
      <th>Tuotekuvaus</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>{{tuote.tuote_id}}</td> 
      <td>{{tuote.tuotteen_nimi}}</td>  
      <td>{{tuote.valmistaja}}</td>
      <td>{{tuote.kuvaus}}</td> 
    </tr>
  </tbody>    
</table>

<button class="btn btn-default"><A href="{{base_path}}/Paasivu">Paluu pääsivulle</A></button>
</html>

{% endblock %}

