{% extends "base.html" %}
{% block content %}
  <h1>Muokkaa tuotteen tietoja</h1>

  <form>
    <div class="form-group">
      <label>Nimi</label>
      <input type="text" class="form-control" value="Pitäisi myös tulostaa nykyiset tuotetiedot näkyviin">
    </div>
     <div class="form-group">
          <label>Tuotteen nimi</label>
          <input type="text" class="form-control" value="{{salasana}}"">
        </div>
        <div class="form-group">
          <label>Valmistaja</label>
          <input type="text" class="form-control" value="{{valmistaja}}">
        </div>
        <div class="form-group">
          <label>Kuvaus</label>
          <textarea class="form-control">  </textarea>
        </div>
        <div class="form-group">
          <button type ="submit" class="btn btn-default" name= "Tallenna"> {{tuote_id}}edit()></button>
          <button class="btn btn-default"><A href="{{base_path}}/Paasivu">Paluu tallentamatta</A></button>
        </div>
  </form>
{% endblock %}