{% extends "base.html" %}
{% block content %}

<H2>Tuotteen hakeminen</H2>

  <form> 
     <div class="form-group">
       <label>Anna etsittävän tuotteen tuote-ID</label>
       <input type="text" class="form-control" name="tuote_id" value="{{Tuote.tuote_id}}">
       
     <div class="form-group">
       <button class="btn btn-default" value="submit"><A href="{{base_path}}/Tuote/Tuotesivu/{{Tuote.tuote_id}}">Hae tuotetta!</A></button>
       <button class="btn btn-default"><A href="{{base_path}}/Paasivu">Paluu pääsivulle </A></button>
     </div>
    <!-- 
     Tutkitaan myöhemmin, miten tekstihaku toimisi.
       
     </div>      
     <div class="form-group">
       <label>Tuotteen nimi</label>
       <input type="text" class="form-control" value="tuotteen_nimi">
     </div>

    <div class="form-group">
       <button type="submit" class="btn btn-default"><A href="{{base_path}}/Tuote/{{tuotteen_nimi}}find_tuotteen_nimi">Hae!</a></button>
     </div> 
     --> 

  </form>
{% endblock %}