{% extends "base.html" %}
{% block content %}

  <h1>Tuotteiden listaussivu</h1>

   <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Tuote-ID</th>
        <th>Tuotteen nimi</th>
        <th>Valmistaja</th>
        <th>Tuotekuvaus</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for Tuote in Tuotteet %}
          <tr>
            <td><a href="#">{{Tuote.tuote_id}}</a></td>
            <td>{{Tuote.tuotteen_nimi}}</td>
            <td>{{Tuote.valmistaja}}</td>
            <td>{{Tuote.kuvaus}}</td>
            <th><a class="btn btn-default btn-sm" href="{{base_path}}/Tuotesivu/{{Tuote.tuote_id}}">Katso tarkemmat tuotetiedot</a></th>
            <th><a class="btn btn-default btn-sm" href="{{base_path}}/Tuotetietojenmuutos/{{Tuote.tuote_id}}">Muokkaa</a></th>
            
            <!-- Poistaminen vaatii jonkun oman sivun + {{Tuote.tuote_id}}:n välityksen-->
            <th><a class="btn btn-default btn-sm" href="{{base_path}}/Paasivu">Poista</a></th> 
          </tr>
      {% endfor %}
    </tbody>    
  </table>
  <button class="btn btn-default"><A href="{{base_path}}/Paasivu">Paluu pääsivulle</A></button>
</html>

{% endblock %}
