{% extends "base.html" %}
{% block content %}
<H2>Tuotteen hakeminen</H2>
<H3>Tuotetta voi hakea sekä Tuote-ID:n että nimen perusteella</H3>

  <form>
     <div class="form-group">
       <label>Tuote-ID</label>
       <input type="text" class="form-control" value=" ">
     </div>
      
     <div class="form-group">
       <label>Tuotteen nimi</label>
       <input type="text" class="form-control" value=" ">
     </div>
      
     <div class="form-group">
       <button type="submit" class="btn btn-default"><A href="{{base_path}}/Tuote/Tuotteidenlistaus">Hae!</a></button>
     </div>
     <h3>Tulokset tulostuvat tuotteiden listaussivulle</h3>
  </form>
{% endblock %}