{% extends "base.html" %}
{% block content %}

<H2>Tuotetietojen listaussivu</H2>

    <form action="handle_form.php">

	<p>Tuote-ID      : <input type ="text" name ="tuote_id" size="20"/></p>
        <p>Tuotteen nimi : <input type="text" name="tuotteennimi" size="20" /></p>
	<p>Valmistaja    : <input type="text" name="valmistaja" size="20" /></p>
	<p>Tuotekuvaus   : <textarea name="tuotekuvaus" rows="3" cols="30"></textarea></p>
	
        <button class="btn btn-default"> <A href="{{base_path}}/Tuote/Tuotteenhakeminen">Hae tuotetta</A></button>
        <button class="btn btn-default"> <A href="{{base_path}}/Tuote/Lisaatuote">Lisää tuote</A></button>
        <button class="btn btn-default"> <A href="{{base_path}}/Tuote/Tuotetietojenmuutos">Muuta tuotetietoja</a></button>

    </form>

<!-- Tiedot tulee listana tähän -->
<H3>Esimerkkitulostus:</H3>


    <p><strong>Tuote-ID     :</strong>9789513233259</p>
    <p><strong>Tuotteen nimi:</strong> Aku Ankan taskukirja nro 390 "Outolintu"</p>
    <p><strong>Valmistaja   : </strong>Sanoma Magazines</p>
    <p><strong>Lisäyspäivä  :</strong> 9.12.2014</p>
    <p><strong>Kuvaus       :</strong> xxx </p>

<!-- Kuvaus tulee tähän -->
<p> Tähän tulee näkyviin, miten Tuote-taulun Kuvaus-tietoon on talletettu.
</p>

<button class="btn btn-default"><A href="{{base_path}}/Suunnitelmat/Paasivu"> Pääsivulle</A></button>

{% endblock %}
