{% extends "base.html" %}
{% block content %}
<H2>Tuotteen hakeminen</H2>
<H3>Anna joko etsittävän tuotteen Tuote-ID</H3>

  <form method="post" action="{{base_path}}/Tuote"> 
     <div class="form-group">
       <label>Tuote-ID</label>
       <input type="text" class="form-control" value="Tuote_id">
     </div>
     <div class="form-group">
       <button type="submit" class="btn btn-default"><A href="{{base_path}}/Tuote/{{Tuote_id}}find_tuote">Hae!</a></button>
    <!-- 
     Tutkitaan myöhemmin, miten tekstihaku toimisi.
    
     </div>      
     <div class="form-group">
       <label>Tuotteen nimi</label>
       <input type="text" class="form-control" value="tuotteen_nimi">
     </div>
    -->
    
    <div class="form-group">
       <button type="submit" class="btn btn-default"><A href="{{base_path}}/Tuote/{{tuotteen_nimi}}find_tuotteennimi">Hae!</a></button>
     </div> 
      
      <button class="btn btn-default"> <A href="{{base_path}}/Paasivu"> Paluu pääsivulle </a></button>

  </form>
{% endblock %}