{% extends "base.html" %}
{% block content %}

<H2>Tuotetietojen listaussivu</H2>

    <form action="handle_form.php">
      
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>tuote_id</th>
            <th>tuotteen nimi</th>
            <th>valmistaja</th>
            <th>tuotekuvaus</th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
           <tr>
             <td>{{tuote.tuote_id}}</td> <!--Jostain syystä tämä ei tulostu, eikä siis myös välity Muokkaa-sivulle -->
             <td>{{tuote.tuotteen_nimi}}</td>  
             <td>{{tuote.valmistaja}}</td>
             <td>{{tuote.kuvaus}}</td>
             <th><a class="btn btn-default btn-sm" href="{{base_path}}/Tuotetietojenmuutos/{{tuote.tuote_id}}">Muokkaa</a></th>
             <th><a class="btn btn-default btn-sm" href="{{base_path}}/Paasivu">Poista</a></th> 
          </tr>
         </tbody>    
      </table>
    </form>    

    <button class="btn btn-default"><A href="{{base_path}}/Paasivu"> Pääsivulle</A></button>

{% endblock %}
