<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Testi, testi...</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <H1> "Under construction!"</H1>"
    
    {% extends "base.html" %}
    {% block content %}
        
    <h1>Painikkeet</h1>
    <button>Tavallinen painike</button>
    <button class="btn btn-default">Bootstrap painike</button>
    <button class="btn btn-primary">Bootstrap painike</button>
    <button class="btn btn-success">Bootstrap painike</button>
    <button class="btn btn-danger">Bootstrap painike</button> 
</html>
