{% extends "base.html" %}

{% block content %}
   <div class="page-header">
    <h1>Varastosovellus!</h1>
   </div>

    <p>Kirjaudu sisään tästä: <A href="paasivu.html"> käyttis - salasana </a>
    </p>
    <img src ="Varasto-kansi.jpg">
    
      
    <h1>Painikkeet</h1>
    <button>Tavallinen painike</button>
    <button class="btn btn-default">Bootstrap painike</button>
    <button class="btn btn-primary">Bootstrap painike</button>
    <button class="btn btn-success">Bootstrap painike</button>
    <button class="btn btn-danger">Bootstrap painike</button>

    <h1>Tekstikentät</h1>
    <input type="text" placeholder="Tavallinen tekstikenttä">
    <input type="text" class="form-control" placeholder="Bootstrap tekstikenttä">

  <h1>Taulukot</h1>
  <table>
    
{% endblock %}
