{% extends "base.html" %}

{% block content %}
   <div class="page-header">
    <h1>Varastosovellus!</h1>
   </div>

    <p>Kirjaudu sisään tästä: <A href="paasivu.html"> käyttis - salasana </a>
    </p>
    <img src ="\\Varasto-kansi.jpg">
    
    <!-- Kirjautuminen -->
    
    <form action="handle_reg.php" method="post">
        <p> Käyttäjätunnus: <input type ="text" name ="user_id" size="8"/></p>
        <p> Salasana: <input type ="text" name ="password" size="10"/></p>
        <input type ="submit" name="submit" value ="Ok" />
               
    <h1>Valittava toiminto</h1>
    <button class="btn btn-default">Tuotteen hakutoiminto</button>
    <button class="btn btn-primary">Tuotteiden listaus</button>
    <button class="btn btn-success">Varaston listaus</button>
    <button class="btn btn-danger">käyttäjien listaus (vain pääkäyttäjät)</button>
    <a href="home.html"></a>

  <h1>Taulukot</h1>
  <table>
    
{% endblock %}
