{% extends "base.html" %}
{% block content %}

  <h1>Kirjaudu sisään</h1>

   <form method="post" action="{{base_path}}/Kayttaja">
    <!-- Tekstikenttä käyttäjätunnukselle -->
    
    <div class="form-group">
      <label>Käyttäjätunnus</label>
      <input type="text" name="kayttajatunnus" class="form-control" value="{{kayttajatunnus}}">
    </div>

    <!-- Salasanakenttä salasanalle -->
    <div class="form-group">
      <label>Salasana</label>
      <input type="password" name="salasana" class="form-control">
    </div>

    <button class="btn btn-default" name="Kirjaudu!" type="submit" onsubmit="UserController/handle_login()"></button>
  </form>

  {% endblock %}
