{% extends "base.html" %}
{% block content %}
     
    {% if user_logged_in %}
       <h1>{{user_logged_in.kayttajatunnus}}, valittavana olevat toiminnot:</h1>
           <h1>Käyttäjän {{user_logged_in.name}} pelikirjasto</h1>

     {% endif %}
     
     <!-- Kaikille saatavilla olevat toiminnot -->
    <button class="btn btn-default"><A href="{{base_path}}/Tuote/Tuotteenhakeminen">Tuotteen hakutoiminto</A></button>
    <button class="btn btn-default"><A href="{{base_path}}/Tuote/Tuotteidenlistaus">Kaikkien tuotteiden listaus</A></button>
    
    {% if user_logged_in %}      
         (if user_logged_in.kayttooikeudet) {
            <!-- Vain pääkäyttäjälle -->
            <button class="btn btn-default"><A href="{{base_path}}/Tuote/Lisaatuote">Lisää uusi tuote</A></button>
            <button class="btn btn-default"><A href="{{base_path}}/Varasto/Varastonlistaus">Varaston listaus</A></button>
            <button class="btn btn-default"><A href="{{base_path}}/Kayttaja/Kayttajienlistaus">Käyttäjien listaus (näkyvissä vain pääkäyttäjille)</A></button>
         {% endif %}
     {% endif %}
    
 
                 
{% endblock %}
