<!DOCTYPE html>
<!--
Tietokantasovellus harjoitustyö, 2015 
Kirsi Rotstén 

-->
<html>
    <head>
        <title>Varasto - Tuotesivu</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <H2>Varastotietokantasovellus</H2>
        <p><A href="paasivu.html"> Paluu pääsivulle </a></p>
        <p><A href="tuotteidenlistaus.html">Tuotteiden haku </a></p>
        <p><A href="tuotteidenlistaus.html">Tuotteiden listaus </a></p>
        <p>Tuotteen muutos: </p>
        <p>Tuotteen poisto (vain pääkäyttäjälle)</p>
    </body>
</html>

